<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box model</title>
    <style>
        .box{
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
        .image{
            width: 40%;
        }

        .box h1{
            width: 50%;
        }

    </style>
</head>
<body>

    <div class="box">
        <h1>HELLO WORLD!</h1>
        <img class="image" src="mine.jpeg" alt="" width="500px" height="600px">
    </div>
    
</body>
</html>
